<div class="card flex justify-content-center text-center">
  <p-card header="{{ product.name }}" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <img alt="Card" src="{{ product.image }}" class="border-round" />
    </ng-template>

    <p class="mb-3">Prezzo: {{ product.price }}$</p>
    <p-rating
      [(ngModel)]="product.rating"
      class=""
      [readonly]="true"
      [cancel]="false"
    />

    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <button
          type="button"
          pButton
          icon="pi pi-pencil"
          (click)="editProduct()"
          label="Edit"
          class="w-full"
          styleClass="w-full"
        ></button>
        <button
          type="button"
          pButton
          icon="pi pi-trash"
          (click)="confirmDelete()"
          label="Delete"
          class="w-full bg-red-500"
          styleClass="w-full"
          #deleteButton
        ></button>
      </div>
    </ng-template>
  </p-card>
</div>

<p-confirmPopup></p-confirmPopup>
